<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="connection.url">jdbc:postgresql://localhost:5432/dress-shop</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">postgres</property>

        <property name="dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hibernate.generate_statistics">true</property>
        <property name="hibernate.cache.use_structured_entries">true</property>

        <property name="hibernate.hibernate.hbm2ddl.auto">validate</property>
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.jcache.internal.JCacheRegionFactory</property>

        <mapping class="ru.gretchen.dressshop.model.BaseEntity"/>
        <mapping class="ru.gretchen.dressshop.model.DressEntity"/>
        <mapping class="ru.gretchen.dressshop.model.CustomerEntity"/>
        <mapping class="ru.gretchen.dressshop.model.ShopEntity"/>

    </session-factory>
</hibernate-configuration>